################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Unilab2021A/bin/Release
/Unilab2021A/obj/Release
/Unilab2021A/bin/Debug
/Unilab2021A/obj/Debug
/.vs